body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#fm {
  width: 300px;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid deepskyblue;
}
#userName {
  width: 200px;
  margin: 20px;
  outline: none;
  line-height: 20px;
}
#passWord {
  width: 200px;
  outline: none;
  line-height: 20px;
}
#div1 {
  font-size: 10px;
  text-align: right;
  margin: 10px 45px 10px 0;

}
#passWordA {
  color: deepskyblue;
  text-decoration: none;
}
#Submit {
  width: 200px;
  color: white;
  background-color: deepskyblue;
  border: 1px solid deepskyblue;
  outline: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

